/* Padding: top right bottom left     */
/*          top (right,left) bottom   */
/*          (top,bottom) (right,left) */
/*          (top,bottom,right,left)   */

header
  width: 300px
  padding: 0 50px 0 0
  position: relative
  float: right
  @media #{$below}
    float: none
  @media #{$small}
    width: 100%

  img
    width: 80%
    margin-bottom: 5px

  p
    margin-bottom: 20px
    width: 80%

  small
    font-size: 0.7em

nav
  width: 200px
  padding: 80px 0 0 0px
  margin-left: -50px
  position: relative
  float: left
  @media #{$below}
    float: none
  @media #{$small}
    width: 100%

  ul
    margin-bottom: 20px

  ul li
    margin-bottom: 10px
/* Change the link color on hover */
