/* Padding: top left bottom rigth     */
/*          top (right,left) bottom   */
/*          (top,bottom) (right,left) */
/*          (top,bottom,right,left)   */

header
  width: 250px
  padding: 0 0px 0px 0px
  position: relative
  float: left
  @media #{$below}
    float: none
  @media #{$small}
    width: 100%

  p
    margin-bottom: 20px
    width: 80%
    line-height: 1.2

  small
    font-size: 0.7em
