.publications
  font-family: $font
  font-size: 17px

.content
  @media #{$below} /* when it is show _below_ header */
    font-size: 18px
    max-width: 450px
    margin-top: 50px
    border-top: 1px solid #382640
    padding: 30px 0 100px

  @media #{$above} /* when it is show _next to_ header */
    margin-left: 250px
    font-size: 18px
    max-width: 450px
    padding: 30px

.content p
  margin-bottom: 30px

.content p strong
  font-weight: 600
